<ion-tabs>
  <ion-tab-bar color="primary" slot="bottom">
    <ion-tab-button tab="personalaccounts">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Лицевые счета</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Аккаунт</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
